

<!--Lightning seems to use the "Use" tag. Pls see https://css-tricks.com/svg-use-external-source/-->

<div>

  <!--utility sprite-->

  <ng-include
    src="'http://localhost:3000/app/chatter/contextChatterDialog/utility-sprite.html'">
  </ng-include>

  <ng-include
    src="'http://localhost:3000/app/chatter/contextChatterDialog/doctype-sprite.html'">
  </ng-include>
  <!--doctype sprite-->

</div>


<md-dialog aria-label="Chatter" flex="50" flex-sm="80" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>BI Chatter</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="lightning-scope">

          <div class="slds">

            <!-- <div class="chatter-topic-messages" flex content-layout="column" content-layout-align="space-between">
               <md-divider></md-divider>
               <md-list class="padding-top-20 padding-bottom-0" flex>
                 <md-list-item ng-repeat="chat in ::conversation" class="md-3-line" ng-class="userClass($even)" ng-init="userColor = $even ? 'cyan' : 'light-green'">
                   <img class="md-avatar" ng-src="{{::chat.image}}" alt="{{::chat.name}}">
                   <div class="md-list-item-text">
                     <p palette-background="{{::userColor}}:200" ng-repeat="message in ::chat.messages">
                       {{::message}}
                     </p>
                   </div>
                 </md-list-item>
               </md-list>
               <div layout="row" layout-align="space-between center">
                 <md-input-container flex class="margin-left-20 margin-right-20">
                   <label>Message</label>
                   <input type="text">
                 </md-input-container>
               </div>

             </div>-->

            <div class="slds-feed">
              <ul class="slds-feed__list">
                <li class="slds-feed__item">
                  <div class="slds-media slds-comment slds-hint-parent">
                    <div class="slds-media__figure">
                      <div class="slds-avatar slds-avatar--circle slds-avatar--medium">
                        <a href="javascript:void(0)" title="Jason Rodgers">
                          <img
                            src="//localhost:3000/bower_components/salesforce-lightning-design-system/assets/images/avatar1.jpg"
                            alt="Jason Rodgers"/>
                        </a>
                      </div>
                    </div>
                    <div class="slds-media__body">
                      <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                        <p class="slds-truncate"><a href="javascript:void(0)" title="Design Systems">Design Systems</a>
                          -
                          <a href="javascript:void(0)" title="Jason Rodgers">Jason Rogers</a></p>
                        <button
                          class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-shrink-none">
                          <svg aria-hidden="true"
                               class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                            <use xlink:href="#down"></use>

                          </svg>
                          <span class="slds-assistive-text">Show More</span>
                        </button>
                      </div>
                      <p class="slds-text-body--small"><a href="javascript:void(0)"
                                                          title="Click for single-item view of this post">18hr Ago</a>
                      </p>

                      <div class="slds-comment__content slds-text-longform">
                        <p>Here&#x27;s the latest demo presentation <a href="javascript:void(0)" title="Jenna Davis">@Jenna
                          Davis</a>, let me know if there are any changes. I&#x27;ve updated slides 3-8 and slides 16-18
                          slides with new product shots.</p>
                      </div>
                      <div class="slds-tags slds-text-body--small slds-p-bottom--x-small">
                        <span>Topics:</span>
                        <ul class="slds-tags__list">
                          <li class="slds-tags__item"><a href="javascript:void(0)" title="Powerpoint">Powerpoint</a>
                          </li>
                          <li class="slds-tags__item"><a href="javascript:void(0)" title="Sales Presentation">Sales
                            Presentation</a></li>
                          <li class="slds-tags__item"><a href="javascript:void(0)" title="Todo">Todo</a></li>
                          <li class="slds-tags__item">and <a href="javascript:void(0)"
                                                             title="Show the remaining topics">3
                            more</a></li>
                        </ul>
                      </div>
                      <ul class="slds-list--horizontal slds-has-dividers slds-text-body--small">
                        <li class="slds-list__item">
                          <a href="javascript:void(0)" title="Like this item">
                            <button
                              class="slds-button slds-button--icon-border slds-button--icon-small slds-m-right--small slds-not-selected">
                              <svg aria-hidden="true" class="slds-button__icon">
                                <use xlink:href="#like"></use>
                              </svg>
                              <span class="slds-assistive-text">Like</span>
                            </button>
                            <span>21 Likes</span>
                          </a>
                        </li>
                        <li class="slds-list__item">2 tasks</li>
                      </ul>
                    </div>
                  </div>
                  <ul class="slds-comment__replies">
                    <li class="slds-comment__overflow">
                      <button class="slds-button slds-button--neutral">3 more comments</button>
                    </li>
                    <li>
                      <div class="slds-media slds-comment slds-hint-parent">
                        <div class="slds-media__figure">
                          <div class="slds-avatar slds-avatar--circle slds-avatar--small">
                            <a href="javascript:void(0)" title="Jenna Davis">
                              <img
                                src="//localhost:3000/bower_components/salesforce-lightning-design-system/assets/images/avatar2.jpg"
                                alt="Jenna Davis"/>
                            </a>
                          </div>
                        </div>
                        <div class="slds-media__body">
                          <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                            <p class="slds-truncate"><a href="javascript:void(0)" title="Jenna Davis">Jenna Davis</a> -
                              <span class="slds-text-body--small">16hr Ago</span>
                            </p>
                            <button
                              class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-shrink-none">
                              <svg aria-hidden="true"
                                   class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                                <use xlink:href="#down"></use>
                              </svg>
                              <span class="slds-assistive-text">Show More</span>
                            </button>
                          </div>
                          <div class="slds-comment__content slds-text-longform">
                            <p><a href="javascript:void(0)" title="Jason Rodgers">@Jason Rodgers</a> I left you some
                              feedback!</p>
                          </div>
                          <ul class="slds-list--horizontal slds-has-dividers slds-text-body--small">
                            <li class="slds-list__item"><a href="javascript:void(0)" title="Like this item">Like</a>
                            </li>
                            <li class="slds-list__item">13 Likes</li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="slds-media slds-comment slds-hint-parent">
                        <div class="slds-media__figure">
                          <div class="slds-avatar slds-avatar--circle slds-avatar--small">
                            <a href="javascript:void(0)" title="Jenna Davis">
                              <img
                                src="//localhost:3000/bower_components/salesforce-lightning-design-system/assets/images/avatar2.jpg"
                                alt="Jenna Davis"/>
                            </a>
                          </div>
                        </div>
                        <div class="slds-media__body">
                          <div class="slds-publisher slds-publisher--comment">
                          <textarea class="slds-publisher__input slds-input--bare slds-text-longform"
                                    placeholder="Write a comment…"></textarea>

                            <div class="slds-attachments"></div>
                            <div class="slds-publisher__actions slds-grid slds-grid--align-spread">
                              <ul class="slds-grid">
                                <li>
                                  <button class="slds-button slds-button--icon-container">
                                    <svg aria-hidden="true" class="slds-button__icon">
                                      <use xlink:href="#adduser"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Add User</span>
                                  </button>
                                </li>
                                <li>
                                  <button class="slds-button slds-button--icon-container">
                                    <svg aria-hidden="true" class="slds-button__icon">
                                      <use xlink:href="#attach"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Attach a file</span>
                                  </button>
                                </li>
                              </ul>
                              <button class="slds-button slds-button--brand">Comment</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="slds-feed__item">
                  <div class="slds-media slds-comment slds-hint-parent">
                    <div class="slds-media__figure">
                      <div class="slds-avatar slds-avatar--circle slds-avatar--medium">
                        <a href="javascript:void(0)" title="Jason Rodgers">
                          <img
                            src="//localhost:3000/bower_components/salesforce-lightning-design-system/assets/images/avatar1.jpg"
                            alt="Jason Rodgers"/>
                        </a>
                      </div>
                    </div>
                    <div class="slds-media__body">
                      <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                        <p class="slds-truncate"><a href="javascript:void(0)" title="Design Systems">Design Systems</a>
                          -
                          <a href="javascript:void(0)" title="Jason Rodgers">Jason Rogers</a></p>
                        <button
                          class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-shrink-none">
                          <svg aria-hidden="true"
                               class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                            <use xlink:href="#down"></use>
                          </svg>
                          <span class="slds-assistive-text">Show More</span>
                        </button>
                      </div>
                      <p class="slds-text-body--small"><a href="javascript:void(0)"
                                                          title="Click for single-item view of this post">18hr Ago</a>
                      </p>

                      <div class="slds-comment__content slds-text-longform">
                        <p><a href="javascript:void(0)" title="Garrett Lee">@Garrett Lee</a>, can you review and let me
                          know what&#x27;s missing? FYI <a href="javascript:void(0)" title="All Sales Group">@All Sales
                            Group</a></p>
                      </div>
                      <div class="slds-attachments">
                        <figure class="slds-attachments__item">
                          <a href="javascript:void(0)" title="Marketing Plan - Rollout Q1 2016">
                            <img
                              src="//localhost:3000/bower_components/salesforce-lightning-design-system/assets/images/feed/feed-image-example.png"
                              alt="Marketing Plan - Rollout Q1 2016"/>
                          </a>
                        </figure>
                      </div>
                      <ul class="slds-list--horizontal slds-has-dividers slds-text-body--small">
                        <li class="slds-list__item">
                          <a href="javascript:void(0)" title="Like this item">
                            <button
                              class="slds-button slds-button--icon-border slds-button--icon-small slds-m-right--small slds-not-selected">
                              <svg aria-hidden="true" class="slds-button__icon">
                                <use xlink:href="#like"></use>
                              </svg>
                              <span class="slds-assistive-text">Like</span>
                            </button>
                            <span>21 Likes</span>
                          </a>
                        </li>
                        <li class="slds-list__item">2 tasks</li>
                      </ul>
                    </div>
                  </div>
                  <ul class="slds-comment__replies">
                    <li>
                      <div class="slds-media slds-comment slds-hint-parent">
                        <div class="slds-media__figure">
                          <div class="slds-avatar slds-avatar--circle slds-avatar--small">
                            <a href="javascript:void(0)" title="Jenna Davis">
                              <img
                                src="//localhost:3000/bower_components/salesforce-lightning-design-system/assets/images/avatar2.jpg"
                                alt="Jenna Davis"/>
                            </a>
                          </div>
                        </div>
                        <div class="slds-media__body">
                          <div class="slds-publisher slds-publisher--comment">
                          <textarea class="slds-publisher__input slds-input--bare slds-text-longform"
                                    placeholder="Write a comment…"></textarea>

                            <div class="slds-attachments"></div>
                            <div class="slds-publisher__actions slds-grid slds-grid--align-spread">
                              <ul class="slds-grid">
                                <li>
                                  <button class="slds-button slds-button--icon-container">
                                    <svg aria-hidden="true" class="slds-button__icon">
                                      <use xlink:href="#adduser"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Add User</span>
                                  </button>
                                </li>
                                <li>
                                  <button class="slds-button slds-button--icon-container">
                                    <svg aria-hidden="true" class="slds-button__icon">
                                      <use xlink:href="#attach"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Attach a file</span>
                                  </button>
                                </li>
                              </ul>
                              <button class="slds-button slds-button--brand">Comment</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="slds-feed__item">
                  <div class="slds-media slds-comment slds-hint-parent">
                    <div class="slds-media__figure">
                      <div class="slds-avatar slds-avatar--circle slds-avatar--medium">
                        <a href="javascript:void(0)" title="Jason Rodgers">
                          <img
                            src="//localhost:3000/bower_components/salesforce-lightning-design-system/assets/images/avatar1.jpg"
                            alt="Jason Rodgers"/>
                        </a>
                      </div>
                    </div>
                    <div class="slds-media__body">
                      <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                        <p class="slds-truncate"><a href="javascript:void(0)" title="Design Systems">Design Systems</a>
                          -
                          <a href="javascript:void(0)" title="Jason Rodgers">Jason Rogers</a></p>
                        <button
                          class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-shrink-none">
                          <svg aria-hidden="true"
                               class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                            <use xlink:href="#down"></use>
                          </svg>
                          <span class="slds-assistive-text">Show More</span>
                        </button>
                      </div>
                      <p class="slds-text-body--small"><a href="javascript:void(0)"
                                                          title="Click for single-item view of this post">18hr Ago</a>
                      </p>

                      <div class="slds-comment__content slds-text-longform">
                        <p>Here&#x27;s the revised demo presentation <a href="javascript:void(0)" title="Jenna Davis">@Jenna
                          Davis</a></p>
                      </div>
                      <div class="slds-attachments">
                        <div class="slds-attachments__item slds-box slds-box--x-small slds-theme--shade">
                          <div class="slds-grid slds-grid--align-spread">
                            <div class="slds-media">
                              <div class="slds-media__figure">
                    <span class="slds-icon__container">
                      <svg aria-hidden="true" class="slds-icon slds-icon--small">
                        <use xlink:href="#word"></use>
                      </svg>
                      <span class="slds-assistive-text">Powerpoint</span>
                    </span>
                              </div>
                              <div class="slds-media__body"><a href="javascript:void(0)"
                                                               title="filename.ppt">filename.ppt</a></div>
                            </div>
                            <button class="slds-button slds-button--icon-bare">
                              <svg aria-hidden="true" class="slds-button__icon">
                                <use xlink:href="#close"></use>
                              </svg>
                              <span class="slds-assistive-text">Remove this attachment</span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <ul class="slds-list--horizontal slds-has-dividers slds-text-body--small">
                        <li class="slds-list__item">
                          <a href="javascript:void(0)" title="Like this item">
                            <button
                              class="slds-button slds-button--icon-border slds-button--icon-small slds-m-right--small slds-not-selected">
                              <svg aria-hidden="true" class="slds-button__icon">
                                <use xlink:href="#like"></use>
                              </svg>
                              <span class="slds-assistive-text">Like</span>
                            </button>
                            <span>21 Likes</span>
                          </a>
                        </li>
                        <li class="slds-list__item">2 tasks</li>
                      </ul>
                    </div>
                  </div>
                  <ul class="slds-comment__replies">
                    <li>
                      <div class="slds-media slds-comment slds-hint-parent">
                        <div class="slds-media__figure">
                          <div class="slds-avatar slds-avatar--circle slds-avatar--small">
                            <a href="javascript:void(0)" title="Jenna Davis">
                              <img
                                src="//localhost:3000/bower_components/salesforce-lightning-design-system/assets/images/avatar2.jpg"
                                alt="Jenna Davis"/>
                            </a>
                          </div>
                        </div>
                        <div class="slds-media__body">
                          <div class="slds-publisher slds-publisher--comment">
                          <textarea class="slds-publisher__input slds-input--bare slds-text-longform"
                                    placeholder="Write a comment…"></textarea>

                            <div class="slds-attachments"></div>
                            <div class="slds-publisher__actions slds-grid slds-grid--align-spread">
                              <ul class="slds-grid">
                                <li>
                                  <button class="slds-button slds-button--icon-container">
                                    <svg aria-hidden="true" class="slds-button__icon">
                                      <use xlink:href="#adduser"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Add User</span>
                                  </button>
                                </li>
                                <li>
                                  <button class="slds-button slds-button--icon-container">
                                    <svg aria-hidden="true" class="slds-button__icon">
                                      <use xlink:href="#attach"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Attach a file</span>
                                  </button>
                                </li>
                              </ul>
                              <button class="slds-button slds-button--brand">Comment</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>


          </div>

        </div>


      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
        Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
