<!--Lightning seems to use the "Use" tag. Pls see https://css-tricks.com/svg-use-external-source/-->

<!--utility sprite-->
<ng-include
  src="'http://localhost:3000/app/chatter/contextChatterDialog/utility-sprite.html'">
</ng-include>

<!--doctype sprite-->
<ng-include
  src="'http://localhost:3000/app/chatter/contextChatterDialog/doctype-sprite.html'">
</ng-include>


<md-dialog aria-label="Chatter" flex="50" flex-sm="80" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>BI Chatter</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">clear</i>
        </md-button>
      </div>
    </md-toolbar>


    <md-dialog-content>

      <div class="md-dialog-content">
        <chatter-feed resource="/api/feeds/1">
          <chatter-topics>
            <chatter-new-topic></chatter-new-topic>
            <chatter-topic>
              <chatter-comments>
                <chatter-comment></chatter-comment>
              </chatter-comments>
              <chatter-new-comment></chatter-new-comment>
            </chatter-topic>
          </chatter-topics>
        </chatter-feed>

      </div>


    </md-dialog-content>


    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
        Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
