<div>


  <div class="row-fluid">


    <div class=span12" style="border: none">
      <div ui-tree="comCtrl.options" data-drag-enabled="false">

        <!--****************New Topic******************-->

        <div class="media">
          <a class="media-left media-top" style="margin-right: 0px" href="#">
            <img class="pull-left" height="32" width="32"
                 src="//localhost:3000/assets/images/noavatar.png">
          </a>

          <div class="media-body">
            <a href="#"><span>Girish Lakshmanan</span></a>

            <div class="well">
              <div class="form-group">
                <label class="sr-only" for="topicName">Topic name</label>
                <input ng-hide="comCtrl.editingNewTopic" morph-input="comCtrl.editingNewTopic" class="form-control"
                       style="min-width: 100%;max-width: 100%" id="topicName"
                       placeholder="Start a new conversation....">
                <textarea ng-show="comCtrl.editingNewTopic" class="form-control" style="min-width: 100%;max-width: 100%"
                          rows="3"
                          id="topicNameTextArea"
                          placeholder="Start a new conversation...."></textarea>
              </div>

              <div ng-show="comCtrl.editingNewTopic" class="row">
                <div class="form-group col-xs-6">
                  <!--<label for="tags" class="sr-only"></label>-->
                  <!--<input type="text" class="form-control" aria-label="...">-->

                  <tags-input class="bootstrap" on-tag-added="comCtrl.addedTag($tag)"
                              ng-model="comCtrl.newTopicUsers"
                              placeholder="Invite more users to this conversation"
                              replace-spaces-with-dashes="false">
                    <auto-complete source="comCtrl.loadUsers($query)"
                                   min-length="0"
                                   debounce-delay="0"
                                   max-results="10"></auto-complete>
                  </tags-input>

                </div>

                <div class="form-group col-xs-6">
                  <button type="button" ng-click="comCtrl.addTopic()" class="btn btn-default pull-right"><span
                    class="glyphicon glyphicon-plus"></span> Add
                    Topic
                  </button>
                </div>
              </div>


            </div>

          </div>
          <!--Media Body-->

        </div>


        <!--****************Existing Topics******************-->


        <ol ui-tree-nodes ng-model="comCtrl.topics" data-type="topics" style="list-style-type:none">
          <li ng-repeat="topic in comCtrl.topics | orderBy:'-createdDate'" style="padding: 0;list-style-type:none" ui-tree-node>


            <accordion ng-init="topic.editing=false" close-others="true">
              <accordion-group panel-class="panel-body topic" is-open="topic.accordionStatus">
                <accordion-heading>

                  <!--*************************Topic in Readonly Mode***********************************-->

                  <div ng-show="!topic.editing">

                    <div class="media topic">
                      <a class="media-left media-top" href="#">
                        <img class="pull-left" height="32" width="32"
                             src="//localhost:3000/assets/images/noavatar.png">
                      </a>

                      <div class="media-body">
                        <div ng-init="topic.accordionStatus=true" class="topic-profile-head"><a href="#"><span>Girish Lakshmanan&nbsp;</span><span
                          style="color: grey" am-time-ago="topic.createdDate"></span></a> <span>-- </span>   <span style="margin-right:3px" ng-repeat="taggedUser in topic.taggedUsers" class="label label-default">{{taggedUser}}</span></div>
                        <a href="" class="btn btn-default btn-xs pull-right" ng-click="comCtrl.removeTopic(topic)"><i
                          class="glyphicon glyphicon-remove"></i></a>
                        <a ng-show="!topic.accordionStatus" href="" class="btn btn-default btn-xs pull-right"
                           ng-click="comCtrl.toggleAccordionOpen(topic)"><i
                          class="fa fa-plus-square-o"></i></a>
                        <a ng-show="topic.accordionStatus" href="" class="btn btn-default btn-xs pull-right"
                           ng-click="comCtrl.toggleAccordionOpen(topic)"><i
                          class="fa fa-minus-square-o"></i></a>

                        <a href="" class="btn btn-default btn-xs pull-right"
                           ng-click="comCtrl.editTopic(topic)"><i
                          class="glyphicon glyphicon-pencil"></i></a>

                        <p>{{topic.name}}</p>
                      </div>
                    </div>
                  </div>


                  <!--*************************Topic in Edit Mode***********************************-->


                  <div ng-show="topic.editing" class="well">
                    <div ng-init="topic.accordionStatus=true" class="topic-profile-head"><a href="#"><span
                      style="color: grey"> Topic was added by </span><span>Girish Lakshmanan&nbsp;</span>
                      <span
                        style="color: grey" am-time-ago="topic.createdDate"></span></a></div>
                    <div class="form-group">
                         <textarea ng-init="topic.newName=topic.name" ng-model="topic.newName" class="form-control" style="min-width: 100%;max-width: 100%"
                                   rows="3"
                                   id="topicNameTextAreaEdit"></textarea>

                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-sm" ng-click="comCtrl.saveTopic(topic)">Save</button>
                      <button type="submit" class="btn btn-primary btn-sm" ng-click="comCtrl.cancelEditingTopic(topic)">Cancel
                      </button>
                    </div>

                  </div>


                </accordion-heading>

                <!--*************************Comments***********************************-->

                <ol ui-tree-nodes ng-model="topic.comments" data-type="comment">
                  <li ng-repeat="comment in topic.comments" ui-tree-node>

                    <!--Comment Controls-->
                    <div class="comment">
                      <div>
                        <a href="" class="btn btn-default btn-xs pull-right" ng-click="comCtrl.removeComment(topic, comment)"><i
                          class="glyphicon glyphicon-remove"></i></a>
                      </div>

                      <!--Comment Content-->
                      <div class="topic-profile-head"><a href="#"><span>Girish Lakshmanan&nbsp;</span><span
                        style="color: grey" am-time-ago="comment.createdDate"></span></a></div>

                      <p>{{comment.name}}</p>
                    </div>

                  </li>
                </ol>

                <!--************************************New Comment*******************************-->


                <div ng-init="topic.newCommentEditable=false" class="well comment">
                  <div class="form-group">
                    <div class="topic-profile-head"><a href="#"><span>Girish Lakshmanan&nbsp;</span></a></div>
                    <label class="sr-only" for="topicName">Topic name</label>
                    <input ng-hide="topic.newCommentEditable" ng-model="topic.newCommentName"
                           morph-input="topic.newCommentEditable" class="form-control"
                           style="min-width: 100%;max-width: 100%"
                           placeholder="continue the conversation....">

                    <textarea ng-show="topic.newCommentEditable" ng-model="topic.newCommentName"
                              class="form-control" style="min-width: 100%;max-width: 100%" rows="3"
                              placeholder="continue the conversation...."></textarea>
                  </div>

                  <div ng-show="topic.newCommentEditable" class="row">
                    <div class="form-group col-xs-6">
                      <!--<label for="tags" class="sr-only"></label>-->
                      <!--<input type="text" class="form-control" aria-label="...">-->

                      <tags-input class="bootstrap" on-tag-added="comCtrl.addedTag($tag)"
                                  ng-model="topic.newCommentUsers"
                                  placeholder="Invite more users to this conversation"
                                  replace-spaces-with-dashes="false">
                        <auto-complete source="comCtrl.loadUsers($query)"
                                       min-length="0"
                                       debounce-delay="0"
                                       max-results="10"></auto-complete>
                      </tags-input>
                    </div>

                    <div class="form-group col-xs-6">
                      <button type="submit" ng-click="comCtrl.addComment(topic)" class="btn btn-default pull-right">
                        <span
                          class="glyphicon glyphicon-plus"></span> Add Comment
                      </button>
                    </div>
                  </div>


                </div>


              </accordion-group>
            </accordion>


          </li>
        </ol>

      </div>



      <div>

      </div>

    </div>

  </div>


</div>



