<div>
  <!--<div class="modal-header">-->
    <!--<h3>Conversations</h3>-->
    <!--<p><h4>Context: {{chatterContainer.chatterContext}}</h4></p>-->
  <!--</div>-->
  <div  class="modal-body" style="border: none">

    <chatter-topic context="chatterContainer.chatterContext"></chatter-topic>

  </div>
  <!--<div class="modal-footer">-->
    <!--<button class="btn btn-primary" type="button" ng-click="chatterContainer.ok()">OK</button>-->
    <!--<button class="btn btn-warning" type="button" ng-click="chatterContainer.cancel()">Cancel</button>-->
  <!--</div>-->
</div>



