<style>

  md-sidenav,
  md-sidenav.md-locked-open,
  md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 30% !important;
    max-width: 30% !important;
  }

  .md-sidenav-push-in .md-sidenav-push-in-target {
    transform: translate(0px);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .md-sidenav-push-in.md-sidenav-left-open .md-sidenav-push-in-target {
    transform: translate(30%);
  }

  .md-sidenav-push-in.md-sidenav-right-open .md-sidenav-push-in-target {
    margin-right: 30%

  }

  md-backdrop {
    background-color: transparent !important;
  }

  md-backdrop.md-sidenav-backdrop {
    display: none;
  }

</style>


<!--Lightning seems to use the Use tag and it causes CORS issues from inside OBI. Pls see https://css-tricks.com/svg-use-external-source/-->
<!--utility sprite-->
<ng-include
  src="'http://localhost:3000/app/chatter/contextChatterDialog/utility-sprite.html'">
</ng-include>

<!--doctype sprite-->
<ng-include
  src="'http://localhost:3000/app/chatter/contextChatterDialog/doctype-sprite.html'">
</ng-include>

<md-sidenav sidenav-push-in class="md-sidenav-right md-whiteframe-z2" md-component-id="right">

  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">BI Chatter Dashboard Feed</h1>
  </md-toolbar>
  <md-content layout-padding="" style="padding:30px;">
    <!--    <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput" ng-model="data" md-sidenav-focus="">
          </md-input-container>
        </form>-->

    <md-button ng-click="sideNavCtrl.close()" class="md-primary">
      Close Sidenav Right
    </md-button>
    <chatter-feed feed-context="sideNavCtrl.feedContext">
    </chatter-feed>


  </md-content>

</md-sidenav>


<!--
  <div layout="column" style="height:500px;">
  <section layout="row" flex>





  </section>
</div>
-->
